:root {
    --clr-primary: #c52127;
    --clr-secondary: #0071bc;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-dark: #101828;
    --clr-light: #344054;
    --clr-light-sm: #dee2e6;
}

.mybazar-login-section .forget-password input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid #d0d5dd !important;
    background: var(--clr-primary) !important;
    margin-right: 5px;
    margin-top: -1px;
}

.text-custom-primary,
.text-custom-primary:hover {
    color: var(--clr-primary);
    font-weight: bold;
}

.mybazar-login-section .forget-password input[type="checkbox"]:checked+.custom-control-label::before {
    color: #ffffff;
}

.mybazar-login-section .forget-password input[type="checkbox"]:checked {
    accent-color: #3291d4 !important;
}

.indicate-text {
    font-size: 12px;
    color: red;
}

.form-control.error {
    border-color: red;
    padding: 0.375rem 0.75rem;
}

.image-wrapper.error {
    border-color: red;
    padding: 0.375rem 0.75rem;
}

.error-alert {
    font-size: 11px;
    color: red;
}

.error {
    color: red !important;
}

.payment-section .form-control[readonly] {
    background-color: #fff !important;
}

.budget-form ::placeholder {
    font-size: 12px;
}

.avatar {
    background: var(--clr-primary);
    border-radius: 50%;
    color: #e3eaef;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    position: relative;
    vertical-align: middle;
    line-height: 1.28;
    height: 45px;
    width: 45px;
}

.avatar.avatar-sm {
    font-size: 12px;
    height: 30px;
    width: 30px;
}

.avatar img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.btn-custom-warning {
    background-color: var(--clr-primary) !important;
    color: #fff;
    border: none !important;
}

.btn-custom-warning:hover {
    color: #fff !important;
}

.custom-warning-color {
    color: var(--clr-primary);
}

.roles-permissions table td {
    color: black;
}

.img-preview {
    margin-top: 4px;
    height: auto;
    width: 100px;
}

.folders-files tr a {
    font-size: 18px !important;
}

.gradient-row {
    background: linear-gradient(270deg, #dbe4df 0%, #65e4a6 50%, #ffffff 100%);
}

.order-form-section label,
.permission label,
.role-input-label label {
    left: 10px;
    white-space: nowrap;
}

.table-form-section .responsive-table {
    min-height: unset !important;
}

.table-title-three h5 {
    font-weight: 600 !important;
}

.loss-profit-custom-color1 {
    background-color: rgba(255, 132, 0, 0.15);
}

.loss-profit-custom-color2 {
    background-color: rgba(255, 181, 101, 1);
    font-weight: bold;
}

.production-wrap {
    padding-right: 60px;
}

.form-control.reset-img {
    display: none;
}

.table-header h3,
.table-header h4 {
    font-weight: 700;
}

.privacy-condition-header h4 {
    font-weight: 700;
}

.erp-new-invice .invice-detaisl {
    padding: 20px 0;
}

.commercial-invoice {
    margin-bottom: 30px;
}

.invoice-payment-details {
    margin-top: 40px;
}

.erp-new-invice {
    min-height: 900px !important;
}

/* dropdown font size reduce */
.form-select {
    font-size: 1rem;
}

.product-img {
    height: 100px;
    width: 250px;
    border-radius: 2%;
    overflow: hidden;
    border: 2px dashed #e4e5e7;
}

.form-control .form-control {
    border: 0 !important;
}

.table-user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--clr-gray4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table-user-icon img {
    height: 25px;
}

.ctg-icon img {
    max-height: 40px;
    width: auto;
    margin: 0 auto;
}

/*delete modal*/
.delete-modal {
    text-align: center;
    margin-bottom: 20px;
}

.delete-modal h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 5px;
}

.delete-modal p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.multiple-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 24px;
}

.chart-css {
    width: 100% !important;
    max-height: 308px !important;
    min-height: 290px;
}

.rounded-image .table-img {
    width: 40px;
    height: 40px;
}

.width-10 {
    width: 10px;
}

.add-feature-btn {
    min-height: 30px;
    padding: 4px 20px;
    background: var(--clr-primary) !important;
    border: none !important;
    color: #ffffff !important;
    border-radius: 5px;
}

.remove-list {
    position: relative;
}

.remove-list .remove-one {
    background: transparent !important;
    /* background: linear-gradient(90deg, var(--clr-primary) 0%, var(--clr-primary) 100%) !important; */
    color: #fff !important;
    height: 50px;
    width: 50px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.remove-list .remove-one i {
    color: #ff3030;
}

.feature-add-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feature-add-wrp .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-container {
    border: 1px solid #ccc;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    display: inline-block;
}

.top-btn-custom {
    text-decoration: none;
    border: none;
}

.top-btn-custom:hover,
.top-btn-custom:active {
    color: #007bff;
    text-decoration: underline;
    border: none;
    text-underline-offset: 18px;
}

.top-btn-custom.active {
    text-decoration: underline;
    color: #007bff;
    font-weight: bold;
    border: none;
    text-underline-offset: 18px;
}

.card {
    border: 0;
    box-shadow: 0px 4px 24px 0px #e4c3c30d;
    border-radius: 12px;
    background-color: #fff !important;
}

.table th {
    border-bottom: 1px solid #d8d8d8 !important;
    background: #f9f8f8;
    border: 0;
    height: 54px;
}

.delete-selected {
    cursor: pointer;
}

.custom-primary {
    color: var(--clr-primary);
}

.table-hidden-checkbox {
    display: none;
}

/* Style the custom checkbox */
.table-custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    padding-left: 35px;
    line-height: 24px;
}

/* Create the custom checkmark */
.table-custom-checkmark {
    position: absolute;
    top: -9px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Style the checkmark when checked */
.table-hidden-checkbox:checked+.table-custom-checkmark {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
}

/* Add the tick mark inside the checkbox */
.table-custom-checkbox .custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the tick mark when the checkbox is checked */
.table-custom-checkbox .table-hidden-checkbox:checked+.custom-checkmark:after {
    display: block;
}

/* Style the tick mark */
.table-custom-checkbox .custom-checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Customize the label text color and size */
.table-custom-checkbox {
    color: #333;
    font-family: Arial, sans-serif;
}

.dropdown-menu-scroll {
    max-height: 400px;
    overflow-y: auto;
}

.language-li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-check {
    color: #00ae1c;
    font-weight: 400;
    font-size: 16px;
}

.verify-modal-body h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #212121;
}

.verify-modal-body .des,
.verify-modal-body .des span {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.verify-modal-body .des {
    font-weight: 400 !important;
}

.verify-modal-body .des .reset {
    color: var(--clr-primary);
}

.verify-modal-body .code-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.verify-modal-body .code-input input {
    width: 51px;
    height: 58px;
    padding: 14px 15px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    box-shadow: none !important;
}

.verify-modal-body .code-input input:focus {
    border: 1px solid var(--clr-primary) !important;
}

.verify-modal-body .code-input input:focus-visible {
    border: 1px solid var(--clr-primary) !important;
}

.verify-modal-body .des span {
    color: #121212;
}

.success-content {
    border-radius: 16px;
}

.success-modal-body h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #121212;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.create-account-body h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #121212;
    margin-bottom: 0px;
}

.success-modal-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #4d4d4d;
    margin-bottom: 24px;
}

.verify-btn {
    background-color: var(--clr-primary);
    color: white;
    width: 100%;
    padding: 10px 0px;
    margin-top: 12px;
}

.verify-btn:hover {
    color: white;
}

/********** Sales page code start **********/
.sales-container {
    background-color: white;
    border-radius: 15px 0 0 15px;
}

.quick-act-header {
    background-color: white;
    padding: 2% 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.sales-container .quick-act-title {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
}

.sales-container .save-product-btn {
    background-color: #0ec03b1a;
    color: #4d4d4d;
    padding: 2px 6px;
    border-radius: 4px;
}

.sales-container .bulk-upload-btn {
    background-color: #567df41a;
    color: #4d4d4d;
    padding: 2px 6px;
    border-radius: 4px;
}

.sales-container .sales-btn {
    background-color: #9e0de81a;
    color: #4d4d4d;
    padding: 2px 6px;
    border-radius: 4px;
}

.sales-container .calculator-btn {
    background-color: #007aff1a;
    color: #4d4d4d;
    border: none;
}

.sales-container .dashboard-btn {
    background-color: #ff3b301a;
    color: #4d4d4d;
    padding: 2px 6px;
    border-radius: 4px;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: gray;
}

.btn-danger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .btn-danger,
.input-group .btn-outline-secondary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    background-color: #f5f3f34d;
}

/* quick action table */
.icon {
    font-weight: 400;
    font-size: 13px;
}

.incre-decre {
    width: 20px !important;
    height: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8d8d899 !important;
    border-radius: 3px !important;
    background-color: #fff !important;
}

.incre-decre:hover {
    background-color: #fef0f1 !important;
    border-color: var(--clr-primary) !important;
    color: var(--clr-primary) !important;
}

.num-input {
    border-radius: 5px;
    background-color: white;
}

.num-input input {
    background-color: white;
    width: 95px;
}

.hr-container {
    margin-top: 50px;
}

.hr-container hr {
    border: 1px solid var(--clr-primary) 4d;
}

.payment-title {
    font-size: 14px;
    display: flex;
    width: fit-content;
    font-weight: 400 !important;
}

.amount-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 12px;
}

.save-amount-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.save-btn {
    background-color: #ff9500;
    color: white;
    width: 100%;
    border: none;
    height: 48px;
    border-radius: 6px;
}

.payment-btn {
    background-color: var(--clr-primary);
    color: white;
    width: 100%;
    border: none;
    height: 48px;
    border-radius: 6px;
}

.form-control-amount {
    background-color: white;
}

.payment-container {
    background-color: #f5f3f380;
    border-radius: 8px;
    padding: 12px 15px 33px 15px;
}

.table-background {
    background-color: rgba(245, 243, 243, 0.5);
}

.discount-btn {
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
}

.main-container {
    background-color: white;
    padding: 0%;
}

.products-header {
    border: none;
    border-radius: 0px 12px 12px 0px !important;
    border-left: 1px solid #d8d8d8;
    padding: 12px;
    overflow: hidden;
    color: white;
}

.main-container .products-container {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    z-index: 0 !important;
    position: relative;
}

.main-container .products-header .fa-search {
    color: white;
}

.main-container .products-header .category-btn {
    background-color: #ff9500;
    color: white;
    border: none;
    height: 48px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-container .products-header .brand-btn {
    background-color: #007aff;
    color: white;
    border: none;
    height: 48px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-input {
    border-radius: 0.25rem;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    flex-grow: 1;
}

.btn-category {
    background-color: #f8961e;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
}

.btn-brand {
    background-color: #1e90ff;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
}

.btn-brand:hover {
    background-color: #1b87f2;
    color: white;
    border: 1px solid white;
}

.btn-category:hover {
    background-color: #df8415;
    color: white;
    border: 1px solid white;
}

.btn-search {
    background-color: var(--clr-primary);
    color: white;
    border-radius: 0 0.25rem 0.25rem 0;
}

.btn-search:hover {
    background-color: var(--clr-primary);
    color: white;
    border: 1px solid var(--clr-primary);
}

/* Products section start */
/* .products {
    display: grid;
    grid-template-columns: 3fr !important;
    gap: 10px;

} */

.products .single-product {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    width: 100%;
    margin-top: 4px;
    cursor: pointer;
}

.products .single-product:hover {
    border: 1px solid var(--clr-primary);
}

.products .single-product .product-con {
    padding: 12px;
}

.products .single-product .pro-img img {
    border-radius: 6px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    object-fit: cover;
    width: 100%;
    height: 145px;
}

.products .single-product .pro-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.products .single-product .pro-price {
    font-weight: 600;
    font-size: 14px;
}

.products .single-product .pro-category {
    color: #7c7c7c;
    font-size: 14px;
}

.products .single-product .price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
}

.products .single-product .price .old-price {
    font-size: 12px;
    text-decoration: line-through;
    color: gray;
}

.custom-number-input {
    width: 40px;
    padding: 5px;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
}

.custom-number-input:focus {
    border-color: #007bff;
}

.x-btn {
    border: none;
    background-color: white;
    border-radius: 5px;
}

.x-btn:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.product-dropdown {
    border: 1px solid #e4e5e7;
    border-radius: 6px;
    position: relative;
    background-color: #fff;
}

.product-left img {
    height: 44px;
    width: 44px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #eaecf0;
}

.product-selected {
    padding: 11px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-selected #arrow svg {
    width: 20px;
    height: 20px;
}

.product-dropdown-options {
    position: absolute;
    top: 90px !important;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 300px;
    overflow-y: auto;
    background: white;
    z-index: 3;
    display: none;
}

.product-option-group {
    border-top: 1px solid #eee;
    padding: 8px;
}

/* .product-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
} */

.product-option-item:hover {
    background-color: #f4f4f4;
}

.product-left {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 38fr;
}

.multi-items {
    border-bottom: 1px solid #ececec;
    padding: 4px 0;
}

.multi-items:last-child {
    border-bottom: none;
}

.multi-items:hover {
    background-color: #eaeaea;
}

.product-left img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.product-text {
    font-size: 14px;
}

.product-title {
    font-weight: bold;
    font-size: 15px;
}

.product-in-stock {
    color: #34c759;
    font-weight: 500;
}

.product-price {
    font-weight: bold;
    color: #111;
}

.product-rotate {
    transform: rotate(180deg);
}

/* Products section end */

.padding-status {
    color: #fb8a00;
    border: 1px solid #fb8a00;
    border-radius: 4px;
    background-color: #ff920c1a;
    max-width: 100px;
    padding: 7px;
    text-align: center;
}

.approved-status {
    color: #00a551;
    border: 1px solid #00a551;
    border-radius: 4px;
    background-color: #00a5511a;
    max-width: 100px;
    padding: 7px;
    text-align: center;
}

.rejected-status {
    color: #ff3b30;
    border: 1px solid #ff3b30;
    border-radius: 4px;
    background-color: #ff3b3021;
    max-width: 100px;
    padding: 7px;
    text-align: center;
}

.select-batch {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.select-batch:hover {
    background-color: #c5212712;
}

.gradient-alert {
    background: linear-gradient(270deg, #ff7db8 0%, #ee2a7b 100%);
}

.domain-instructions ol li {
    list-style: decimal;
    padding-left: 3px;
}

#fieldsContainer label {
    top: 0;
}
